<img [src]="img1" class="img-fluid" alt="Responsive image">


<form>
    <div class="form-group">
            <label for="exampleInputEmail1">Cinema</label>
            <select class="form-control-sm" >
                    <option selected disabled >Seleccione</option>
                    <option *ngFor="let cinema of select"  [value]="cinema">{{cinema}}</option>
                

             </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Precio Boleto</label>
      <input type="text" class="form-control-sm" id="precio" (value)="precio" aria-describedby="emailHelp" placeholder="" readonly>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cantidad boletos</label>
      <input type="number" class="form-control-sm" id="exampleInputPassword1" placeholder="cant">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Mayor de edad</label>
    </div>
    <button type="submit" class="btn btn-primary">Comprar</button>
  </form>