

  <div class="row">

    <div class="col-md-7">
      <div class="card" style="width: 18rem;">
        <img [src]="img1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">IT 2</h5>
          <p class="card-text">En el misterioso pueblo de Derry, un malvado payaso llamado Pennywise vuelve 27 años después para atormentar a los ya adultos miembros del Club de los Perdedores, que ahora están más alejados unos de otros.</p>
          <a href="#" class="btn btn-primary">Comprar Tiquete</a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card" style="width: 18rem;">
        <img [src]="img2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">JOKER</h5>
          <p class="card-text">La pasión de Arthur Fleck, un hombre ignorado por la sociedad, es hacer reír a la gente. Sin embargo, una serie de trágicos sucesos harán que su visión del mundo se distorsione considerablemente convirtiéndolo en un brillante criminal.</p>
          <a [routerLink]="['/pelicula1']" class="btn btn-primary" >Comprar Tiquete</a>
        </div>
      </div>
    </div>
  </div>


